<div class="col-lg-12 text-center">
    <h1>{{ titlePage }}</h1>
    <hr />
    <div
        class=" alert alert-success col-md-5 mt-3 mx-auto"
        *ngIf="status == 'ok'"
    >
        Datos actualizados correctamente.
    </div>
    <div
        class=" alert alert-danger col-md-5 mt-3 mx-auto"
        *ngIf="status == 'error'"
    >
        Algo salio mal, intentalo denuevo.
    </div>

    <form
        class="col-md-5 mx-auto text-left"
        #userEditForm="ngForm"
        (ngSubmit)="onSubmit(userEditForm)"
    >
        <div class="form-group">
            <label for="name">Nombre: </label>
            <input
                type="text"
                name="name"
                id="name"
                #name="ngModel"
                [(ngModel)]="user.name"
                required
                pattern="[a-zA-ZÀ-ÿ ]+"
                class="form-control"
            />
            <small
                *ngIf="name.invalid && name.touched"
                class="invalid-feedback d-block"
            >
                Nombre no es valido
            </small>
        </div>

        <div class="form-group">
            <label for="lastname">Apellidos: </label>
            <input
                type="text"
                name="lastname"
                id="lastname"
                #lastname="ngModel"
                [(ngModel)]="user.lastname"
                required
                pattern="[a-zA-ZÀ-ÿ ]+"
                class="form-control"
            />
            <small
                *ngIf="lastname.invalid && lastname.touched"
                class="invalid-feedback d-block"
            >
                Los apellidos no son validos
            </small>
        </div>

        <div class="form-group">
            <label for="email">Correo electronico: </label>
            <input
                type="email"
                name="email"
                id="email"
                #email="ngModel"
                [(ngModel)]="user.email"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                class="form-control"
            />
            <small
                *ngIf="email.invalid && email.touched"
                class="invalid-feedback d-block"
            >
                El email no es valido
            </small>
        </div>

        <div class="form-group">
            <label for="avatar">Imagen de perfil.</label>
            <angular-file-uploader
                id="avatar"
                [config]="afuConfig"
                (ApiResponse)="avatarUpload($event)"
            >
            </angular-file-uploader>
        </div>

        <input
            type="submit"
            value="Actualizar datos"
            class="btn btn-success d-block mx-auto"
            [disabled]="userEditForm.invalid"
        />
    </form>
</div>
