<div class="col-lg-12">
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4">{{ titlePage }}</h1>
            <p class="lead">
                Ayuda a la comunidad y aprende nuevos temas.
            </p>

            <p>
                <a class="btn btn-primary btn-lg mr-3" href="#">Ver temas</a>
                <a class="btn btn-success btn-lg mr-3" href="#"
                    >Ver compañeros
                </a>
                <a class="btn btn-warning btn-lg mr-3" href="#"
                    >Crear un tema
                </a>
            </p>
        </div>
    </div>
</div>
