/* You can add global styles to this file, and also import other style files */
.avatar-mask {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-img {
    height: 100%;
    width: 100%;
}

.list-users .avatar-mask {
    height: 64px;
    width: 64px;
}
